* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica', Arial, sans-seriff;
}
#container {
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    background: #91ccee;
    position: static;
}

header #logo {
    font-size: larger;
    color: #0000ff;
    font-weight: bold;
    padding: 10px 15px 0px 10px;
    border-right: 2px solid #ffffff;
    cursor: pointer;
}

header #user {
    width: 40px;
    height: 40px;
    background: #181717;
    border-radius: 50%;
    margin: 5px 20px 0px auto;
}

#navbar {
    display: flex;
    background: #0f0f0f;
    padding: 5px 10px 0px 10px;
    color: #ffffff;
    width: 100%;
    height: 50px;
}

ul {
    padding: 5px 0px 0px 0px;
    list-style: none;
}

#navbar .navigationElement ul {
    width: 100%;
    height: 200px;
    background: #ffffff;
    color: #000000;
    margin: 10px 0 0 0;
}

#navbar .navigationElement .poi {
    height: 100%;
    width: 25%;
}


#navbar h3 {
    padding: 5px 10px 0px 10px;
    margin: 5px 10px 0px 10px;
}

.listItems {
    width: 230px;
    height: 40px;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdownContent {
    display: none;
    position: absolute;
    background: #dad7d7;;
    color: #000000;
    min-width: 100px;
    margin: 0 0 0 20px;
}

.dropdownContent .dropdown-items {
    text-transform: capitalize;
}

.dropdownContent .dropdown-items:hover {
    background: #ffffff;
}

#poi:hover .dropdownContent{
    display: block; 
    position: relative; 
}

#poi h3,
#myLocation h3{
    text-transform: uppercase;
}

#poi h3:hover,
#myLocation h3:hover {
    color: #3f3a3a;
}

#mainSection {
    display: flex;
}

#mainSection #sideNav {
    width: 20%;
    background: #e6e4e4;
}

#mainSection #subSection {
    width:  80%;
    height: 500px;
}
#mainSection #subSection #map {
    width:  100%;
    height: 100%;
}

#mainSection #subSection #mapInfo {
    display: flex;
    width:  100%;
    height: 50px;
    background: #ffffff;
}

#mainSection #subSection #mapInfo #search_location {
    display: flex;
    margin-left: auto;
}

#mainSection #subSection #mapInfo #search_location .inputbox {
    width: 300px;
    height: 28px;
    margin: 8px 0px 0px 0px;
    padding-left: 10px;
    border: 1px solid #91ccee;
    color: #181717;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#mainSection #subSection #mapInfo #search_location .inputbox:focus {
    outline: none;
}

#mainSection #subSection #mapInfo #search_location .button {
    width: 50px;
    height: 30px;
    margin: 7px 10px 0px 0px;
    border: none;
    margin-left: 0px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background: #91ccee;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#mainSection #subSection #mapInfo #search_location .button:hover {
    background: #0000ff;
}

footer {
    width: 100%;
    height: 98px;
    background: #0f0f0f;
}
.custom-icon {
    background-color: transparent !important;
}
.card {
    font-size: 11px;
    border: 1px solid #ccc;
    padding: 16px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-title{
    font-size: large;
    padding-bottom: 10px;
    color: #0000ff;
}
.message {
    margin:5px;
    font-size: 11px;
    text-align: center;
    border-radius: 5px;
    background-color: #e3e3f1dc;
}
.close {
    position: absolute;
    width: 20px;
    height: 12px;
    right: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(233, 157, 157);
}

.close:hover {
    background-color: #ccc;
    color: red;
}