<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RouteMe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/landing_page.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
        <script src="../static/scripts/landing_page.js"></script>
        <script src="../static/scripts/search_location.js"></script>
        <script src="../static/scripts/poi.js"></script>
        <script src="../static/scripts/script.js"></script>
    </head>
    <body>
        <div id="container">
            <header id="header">
                <div id="logo">RouteMe</div>
                <div id="user"></div>
            </header>
            <section id="navbar">
                <div id="myLocation" class="listItems">
                    <h3 id="userlocation">my location</h3>
                </div>
                <div id="poi" class="listItems">
                    <h3>point of interest</h3>
                    <div class="dropdown">
                        <ul class="dropdownContent">
                            <li id="hotels" class="dropdown-items">hotels</li>
                            <li id="hospitals" class="dropdown-items">hospitals</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="mainSection">
                <div id="sideNav">
                    <div class="card">
                        <div class="card-title">Location info</div>
                        <ul>
                            <li id="lon"></li>
                            <li id="lat"></li>
                        </ul>
                        <br />
                        <p id="address"></p>
                    </div>
                </div>
                <section id="subSection">
                    <div id="mapInfo">
                        <div id="search_location">
                            <input name="locationInput" id="locationInput" class="inputbox" placeholder="Enter Location" />
                            <button type="submit" id="locationSearch" class="button">Find</button>
                        </div>
                    </div>
                    <div class="message" id="info-message">
                        <span class="close" id="closeMessage">&times;</span>
                        <p id="msg"></p>
                    </div>
                    <div id="map"></div>
                    <footer id="footer">
                    </footer>
                </section>
            </section>
        </div>
    </body>
</html>